<template>
  <v-container>
      <v-toolbar flat>
          <v-toolbar-title class="font-weight-medium primary--text">จัดการส่วนลดประจำชั้นปี</v-toolbar-title>
      </v-toolbar>
      <v-list>
          <v-list-item two-line v-for="(item,idx ) in discounts" :key="idx">
              <v-list-item-content >
                  <v-list-item-title>ชั้นปีที่ {{item.grade}} <span class="text-caption font-italic" v-if="item.origin != item.value">ยังไม่ได้บันทึก</span></v-list-item-title>
                  <div class="d-flex justify-space-between">
                      <v-text-field dense hide-details outlined class="centered-input" type="number" v-model="item.value">
                          <template v-slot:[`append`]>
                              <span class="items-center text-center">บาท</span>
                          </template>
                      </v-text-field>
                      <v-btn color="primary" class="ml-2" @click="updateDiscount(idx)" :disabled="item.origin == item.value">อัพเดท</v-btn>
                  </div>
              </v-list-item-content>
          </v-list-item>
      </v-list>
  </v-container>
</template>

<script>
export default {
    data:() =>({
        discounts : [],
        loading : true
    }),
    beforeMount(){
        this.getDiscounts();
    },
    mounted(){

    },
    methods:{
        getDiscounts(){
            let app =this;
            axios.get('/api/v1/discounts')
            .then(res=>{
                app.discounts = _.map(res.data,item=>{
                    item.origin = item.value;
                    return item;
                });
            })
            .catch(err=>{
                app.$swal("เกิดข้อผิดพลาด","","error")
            })
        },
        updateDiscount(index){
            let item = this.discounts[index];
            let app = this;
            axios.put(`/api/v1/discounts/${item._id}`, {value : item.value})
            .then(res => {
                app.discounts[index].origin = item.value;
                app.$swal({
							title: 'บันทึกสำเร็จ',
							icon:'success',
							toast: true,
							timer: 2000,
							showConfirmButton: false,
							timerProgressBar: true, 
							position: 'top-end',
							width: '70%'
						})
            })
            .catch(err=>{
                app.$swal("เกิดข้อผิดพลาด",'โปรดลองใหม่อีกครั้ง','error')
            })
        }
    }
}
</script>

<style>

.centered-input >>> input {
  text-align: center !important;

}

</style>