<template>
	<v-container class="mb-15">
		<v-card flat>
			<v-card-title> เพิ่มสินค้าในร้านค้า </v-card-title>
			<v-card-subtitle>* จำเป็นต้องระบุ</v-card-subtitle>
			<v-form>
				<v-container>
					<v-card>
						<v-card-text>
							<v-container>
								<v-row>
									<v-col cols="12" lg="10" md="6">
										<v-text-field :error="this.$v.editedItem.name.$error" :error-messages="this.$v.editedItem.name.$error ? errorMsgName : ''" v-model="editedItem.name" label="ชื่อสินค้า*"></v-text-field>
									</v-col>
									<v-col cols="10">
										<v-select v-model="editedItem.seller" label="ผู้ขาย" :items="dropdown" item-value="value" item-text="name"></v-select>
									</v-col>
									<v-col cols="10">
										<v-textarea v-model="editedItem.description" label="รายละเอียดสินค้า"></v-textarea>
									</v-col>
								</v-row>
								<v-row class="d-flex align-center" v-for="(item, index) in editedItem.options" :key="index">
									<v-col cols="12" md="6">
										<v-text-field v-model="editedItem.options[index].name" :readonly="index !== editedItem.options.length - 1" :error="$v.editedItem.options.$each[index].name.$error" :error-messages="$v.editedItem.options.$each[index].name.$error ? 'กรุณาระบุตัวเลือก' : ''" label="ชื่อตัวเลือก*"></v-text-field>
									</v-col>
									<v-col cols="12" md="4">
										<v-text-field hide-spin-buttons v-model.number="editedItem.options[index].price" :error="$v.editedItem.options.$each[index].price.$error" :error-messages="$v.editedItem.options.$each[index].price.$error ? 'กรุณาระบุราคาสินค้า' : ''" label="ราคา*" type="number"></v-text-field>
									</v-col>
									<v-col cols="12" md="2" v-if="index == editedItem.options.length - 1">
										<v-btn color="success" @click="addOptions" small><v-icon small> mdi-plus-circle-outline </v-icon></v-btn>
									</v-col>
									<v-col cols="12" md="2" v-else>
										<v-btn color="error" @click="deleteOptions(index)" small><v-icon small> mdi-minus-circle-outline </v-icon></v-btn>
									</v-col>
								</v-row>
								<v-row class="justify-end">
									<!-- <v-btn @click="addOption">เพิ่ม</v-btn> -->
								</v-row>
							</v-container>
						</v-card-text>
					</v-card>
					<v-dialog v-model="dialogCFprice" max-width="500px">
						<v-card>
							<v-card-title>มีตัวเลือกสินค้า ราคา 0 บาท</v-card-title>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="blue darken-1" text @click="dialogCFprice = false">ยกเลิก</v-btn>
								<v-btn color="blue darken-1" text @click="postData">ตกลง</v-btn>
								<v-spacer></v-spacer>
							</v-card-actions>
						</v-card>
					</v-dialog>
					<!-- <v-row></v-row> -->
				</v-container>
				<div class="d-flex justify-space-between">
					<v-btn @click="$router.go(-1)">กลับ</v-btn>
					<v-btn @click="save" color="primary">บันทึกข้อมูลสินค้า</v-btn>
				</div>
			</v-form>
		</v-card>
	</v-container>
</template>

<script>
import { required, minValue } from "vuelidate/lib/validators";
export default {
	data: () => ({
		dialogCFprice: false,
		errorMsgName: "กรุณาระบุชื่อสินค้า",
		dropdown: [
			{ name: "โรงเรียน", value: 1 },
			{ name: "ร้านค้า", value: 2 },
		],
		editedItem: {
			_id: "",
			name: "",
			description: "",
			userCreate: 0,
			created_at: "",
			updated_at: 0,
			seller: 1,
			options: [
				{
					name: "",
					price: 0,
				},
			],
		},
	}),
	validations: {
		editedItem: {
			name: { required },
			options: {
				$each: {
					name: { required },
					price: { required, minValue: minValue(1) },
				},
			},
		},
	},
	methods: {
		addOptions(index) {
			var app = this;
			// console.log(app.$v.$params);
			app.$v.$touch();
			if (app.$v.editedItem.options.$anyError) {
				return false;
			} else {
				this.editedItem.options.push({
					name: "",
					price: 0,
				});
			}
		},
		deleteOptions(index) {
			this.editedItem.options.splice(index, 1);
			this.$v.$reset();
		},
		save() {
			let app = this;
			for (let i = 0; i < app.editedItem.options.length; i++) {
				for (let j = i + 1; j < app.editedItem.options.length; j++) {
					if (app.editedItem.options[i].name === app.editedItem.options[j].name) {
						app.$swal({ text: "ตัวเลือกสินค้าต้องไม่ซ้ำกัน", icon: "error" });
						app.$v.$reset();
						return false;
					}
				}
			}

			this.$v.$touch();
			var isCheck = !app.$v.editedItem.name.$model.$error && app.editedItem.name;
			if (isCheck) {
				app.$v.$reset();
				let setOption = this.editedItem.options.reduce((result, item) => {
					if (!_.isEmpty(item.name)) {
						result.push(item);
					}
					return result;
				}, []);
				if (setOption.length < 1) {
					app.$swal({ text: "โปรดเพิ่มตัวเลือกสินค้าอย่างน้อย 1 ตัวเลือก", icon: "error" });
				} else {
					//cf ราคา0
					for (let i = 0; i < setOption.length; i++) {
						if (setOption[i].price === 0) {
							app.dialogCFprice = true;
							return false;
						}
					}
					this.postData();
				}
			}
		},

		postData() {
			let app = this;
			let setOption = this.editedItem.options.reduce((result, item) => {
				if (!_.isEmpty(item.name)) {
					result.push(item);
				}
				return result;
			}, []);
			axios
				.post("/api/v1/products", {
					name: app.editedItem.name,
					description: app.editedItem.description,
					options: setOption,
					seller: app.editedItem.seller,
				})
				.then((res) => {
					app.modalLoading = false;
					if (res.status == 200) {
						app.$swal({
							title: "บันทึกสำเร็จ",
							icon: "success",
							toast: true,
							timer: 2000,
							showConfirmButton: false,
							timerProgressBar: true,
							position: "top-end",
						}),
							app.$router.push({
								name: "products.index",
							});
					} else {
						app.$swal({ text: "พบข้อผิดพลาดในการบันทึกข้อมูล", icon: "error" });
					}
				})
				.catch((err) => console.log(err));
		},
	},
};
</script>

<style>
</style>