<template>
	<v-data-table :headers="headers" :item-class="styleColor" item-key="_id" :items="products" @update:items-per-page="changeRowPerPage" :items-per-page="pagination.limit" @update:page="changePage" :server-items-length="pagination.length" :loading="loading" class="elevation-1">
		<template v-slot:top>
			<v-toolbar flat>
				<v-toolbar-title>รายการสินค้า</v-toolbar-title>
				<!-- <v-divider class="mx-4" inset vertical></v-divider> -->
				<v-spacer></v-spacer>
				<v-dialog v-model="dialog" max-width="500px">
					<template v-slot:activator="{ attrs }">
						<v-btn color="primary" dark class="mb-2" v-bind="attrs" :to="{ name: 'products.create' }">เพิ่มสินค้า</v-btn>
					</template>
					<!-- Modal add / edit -->
				</v-dialog>
				<v-dialog v-model="dialogDelete" max-width="500px">
					<v-card>
						<v-card-title>แน่ใจหรือไม่ว่าต้องการลบ รายการสินค้านี้ ?</v-card-title>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="blue darken-1" :disabled="modalLoading" text @click="closeDelete">ไม่</v-btn>
							<v-btn color="blue darken-1" :disabled="modalLoading" text @click="deleteItemConfirm">ใช่</v-btn>
							<v-spacer></v-spacer>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
		</template>
		<template v-slot:[`item.actions`]="{ item }">
			<v-btn color="primary mr-2" :to="{ name: 'products.edit', params: { id: item._id } }" small><v-icon small> mdi-pencil </v-icon></v-btn>
			<v-btn color="error" @click="deleteItem(item)" small><v-icon small> mdi-delete </v-icon></v-btn>
		</template>
		<template v-slot:no-data>
			<v-btn color="primary" @click="initialize"> Reset </v-btn>
		</template>
	</v-data-table>
</template>

<script>
import { required, minValue } from "vuelidate/lib/validators";
export default {
	data: () => ({
		dialog: false,
		dialogDelete: false,
		headers: [
			{
				text: "ชื่อสินค้า",
				align: "start",
				sortable: false,
				value: "name",
				divider: true,
			},
			{ text: "ผู้สร้าง", value: "user.fullname", sortable: false, divider: true },
			{ text: "วันที่สร้าง", value: "created_date", divider: true },
			{ text: "วันที่แก้ไข", value: "updated_date", divider: true },
			{ text: "ดำเนินการ", value: "actions", sortable: false, divider: true },
		],
		products: [],
		editedIndex: -1,
		editedItem: {
			_id: "",
			name: "",
			price: 0,
			description: "",
			userCreate: 0,
			created_at: "",
			updated_at: 0,
			options: [],
		},
		defaultItem: {
			_id: "",
			name: "",
			price: 0,
			description: "",
			userCreate: 0,
			created_at: "",
			updated_at: 0,
			options: [],
		},
		pagination: {
			length: 0,
			page: 0,
			limit: 5,
		},
		loading: false,
		form: {
			search: "",
			sortBy: "created_at",
			sortValue: "DESC",
		},
		modalLoading: false,
		errorMsgName: "กรุณาระบุชื่อสินค้า",
		errorMsgPrice: "กรุณาระบุราคาสินค้า",
	}),
	validations: {
		editedItem: {
			name: { required },
			price: { required, minValue: minValue(1) },
		},
	},

	computed: {
		formTitle() {
			return this.editedIndex === -1 ? "เพิ่มสินค้า" : "แก้ไขสินค้า";
		},
	},

	watch: {
		dialog(val) {
			val || this.close();
		},
		dialogDelete(val) {
			val || this.closeDelete();
		},
	},

	mounted() {
		this.initialize();
	},

	methods: {
		initialize() {
			var app = this;
			app.getProducts();
		},

		getProducts() {
			this.loading = true;
			let app = this;
			axios.get(`/api/v1/products?limit=${this.pagination.limit}&page=${this.pagination.page}&search=${this.form.search}`).then((res) => {
				if (res.status == 200) {
					app.products = res.data.data;
					app.pagination.length = res.data.total;
					app.loading = false;
				} else {
					// console.log("getProducts failed : ", res);
					app.loading = false;
				}
			});
		},

		editItem(item) {
			this.editedIndex = this.products.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.dialog = true;
		},

		deleteItem(item) {
			this.editedIndex = this.products.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.dialogDelete = true;
		},

		deleteItemConfirm() {
			// this.products.splice(this.editedIndex, 1);
			let app = this;
			app.modalLoading = true;
			axios
				.delete(`/api/v1/products/${app.editedItem._id}`)
				.then((res) => {
					app.modalLoading = false;
					if (res.status == 200) {
						app.products.splice(app.editedIndex, 1);
						app.closeDelete();

						setTimeout(
							app.$swal({
								title: "บันทึกสำเร็จ",
								icon: "success",
								toast: true,
								timer: 2000,
								showConfirmButton: false,
								timerProgressBar: true,
								position: "top-end",
							}),
							500
						);
					} else {
						app.$swal({ text: "พบข้อผิดพลาดในการบันทึกข้อมูล", icon: "error" });
						app.closeDelete();
					}
				})
				.catch((err) => console.log(err));
		},

		close() {
			this.dialog = false;
			this.$nextTick(() => {
				this.editedItem = Object.assign({}, this.defaultItem);
				this.editedIndex = -1;
				this.$v.$reset();
			});
		},

		closeDelete() {
			this.dialogDelete = false;
			this.$nextTick(() => {
				this.editedItem = Object.assign({}, this.defaultItem);
				this.editedIndex = -1;
			});
		},

		save() {
			var app = this;
			this.$v.$touch();
			// console.log(typeof app.editedItem.price);
			var isCheck = !this.$v.$error;
			if (isCheck) {
				if (app.editedIndex > -1) {
					app.editProduct();
					// Object.assign(app.products[app.editedIndex], app.editedItem);
				} else {
					app.createProduct();
					// app.products.push(app.editedItem);
				}
				app.close();
			}
		},
		createProduct() {
			let app = this;
			axios
				.post("/api/v1/products", app.editedItem)
				.then((res) => {
					app.modalLoading = false;
					if (res.status == 200) {
						app.initialize();
						app.close();
						setTimeout(
							app.$swal({
								title: "บันทึกสำเร็จ",
								icon: "success",
								toast: true,
								timer: 2000,
								showConfirmButton: false,
								timerProgressBar: true,
								position: "top-end",
							}),
							500
						);
					} else {
						app.$swal({ text: "พบข้อผิดพลาดในการบันทึกข้อมูล", icon: "error" });
					}
				})
				.catch((err) => console.log(err));
		},
		editProduct() {
			let app = this;
			axios
				.put("/api/v1/products/" + app.editedItem._id, app.editedItem)
				.then((res) => {
					app.modalLoading = false;
					if (res.status == 200) {
						app.initialize();
						app.close();
						setTimeout(
							app.$swal({
								title: "บันทึกสำเร็จ",
								icon: "success",
								toast: true,
								timer: 2000,
								showConfirmButton: false,
								timerProgressBar: true,
								position: "top-end",
							}),
							500
						);
					} else {
						app.$swal({ text: "พบข้อผิดพลาดในการบันทึกข้อมูล", icon: "error" });
					}
				})
				.catch((err) => console.log(err));
		},
		changeRowPerPage(val) {
			let app = this;
			app.pagination.limit = val;
			app.getProducts();
		},
		changePage(page) {
			// console.log(page);
			let app = this;
			app.pagination.page = page;
			app.getProducts();
		},
		styleColor(item) {
			var index = this.products.indexOf(item);
			return index % 2 ? "blue lighten-5" : "";
		},
	},
};
</script>