<template>
	<v-container class="mb-15">
		<v-card flat>
			<v-toolbar elevation="1">
				<v-toolbar-title>ระบบบริหารจัดการใบสั่งซื้อนักเรียน</v-toolbar-title>
			</v-toolbar>
			<v-row class="my-3 d-flex justify-center header-search">
				<v-col cols="12" lg="5"><v-text-field label="ค้นหา.." dense hide-details outlined filled @change="getInvoices" v-model="form.search"></v-text-field></v-col>
				<v-col cols="12" lg="2"><v-autocomplete :items="dropdownGrade" @change="getInvoices" dense outlined item-value="value" item-text="name" label="ชั้นเรียน" v-model="selectedGrade"></v-autocomplete></v-col>
				<v-col cols="12" lg="2"><v-autocomplete :items="bindClassRoomOption" @change="getInvoices" dense outlined item-value="value" item-text="name" label="ห้อง" v-model="selectedClass"></v-autocomplete></v-col>
			</v-row>
			<v-row class="my-3 d-flex justify-center header-search">
				<v-btn color="primary" dark class="mb-2 mx-2" @click="downloadMultiple('โรงเรียน', invoices, selectedGrade, selectedClass)"><v-icon>mdi-printer</v-icon> พิมพ์ใบสั่งซื้อทั้งหมด (โรงเรียน)</v-btn>
				<v-btn color="primary" dark class="mb-2" @click="downloadMultiple('ร้านค้า', invoices, selectedGrade, selectedClass)"><v-icon>mdi-printer</v-icon> พิมพ์ใบสั่งซื้อทั้งหมด (ร้านค้า)</v-btn>
			</v-row>
			<v-data-table :headers="headers" :item-class="styleColor" :items="invoices" item-key="_id" sort-by="created_date" class="elevation-1" @update:items-per-page="changeRowPerPage" :items-per-page="pagination.limit" @update:page="changePage" :server-items-length="pagination.length" :loading="loading" @update:sort-by="onSortByChange" @update:sort-desc="onSortDesChange">
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn @click="getInvoice(item._id)" color="primary mr-2" small><v-icon small> mdi-pencil </v-icon></v-btn>
					<v-btn @click="deleteItem(item)" color="error" small><v-icon small> mdi-delete </v-icon></v-btn>
				</template>
				<template v-slot:[`item.payment_word`]="{ item }">
					<span :class="item.payment_word === 'ชำระเรียบร้อย' ? 'green--text' : 'red--text'">{{ item.payment_word }}</span>
				</template>
				<template v-slot:[`item.confirmation_word`]="{ item }">
					<span :class="item.confirmation === true ? 'green--text' : 'red--text'">{{ item.confirmation_word }}</span>
				</template>
			</v-data-table>
		</v-card>
		<v-dialog v-model="dialogDelete" max-width="500px">
			<v-card>
				<v-card-title class="text-h5">คุณต้องการลบใบสั่งซื้อนี้ใช่หรือไม่</v-card-title>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn @click="closeDelete">ไม่</v-btn>
					<v-btn color="primary" @click="deleteItemConfirm">ใช่</v-btn>
					<v-spacer></v-spacer>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<invoice-modal v-if="invoiceForm != null" :dialog="invoiceForm.dialog" :isPaid="invoiceForm.payment" :invoice="invoiceForm" :productList="invoiceForm.products" @close="close" :discount="invoiceForm.user.discount ? invoiceForm.user.discount.value : 0" :user="invoiceForm.user" />
	</v-container>
</template>

<script>
import InvoiceModal from "../../components/InvoiceModal.vue";
import printer from "../../mixins/printer.js";
export default {
	mixins: [printer],
	components: { InvoiceModal },
	data: () => ({
		loading: true,
		dialog: false,
		dialogDelete: false,
		selectedRole: -1,
		selectedGrade: -1,
		selectedClass: -1,
		dropdownRole: [
			{ name: "ทั้งหมด", value: -1 },
			{ name: "นักเรียน", value: 0 },
			{ name: "ครู", value: 1 },
			{ name: "ผู้ดูแล", value: 99 },
		],
		dropdownGrade: [
			{ name: "ทั้งหมด", value: -1 },
			{ name: "มัธยมศึกษาปีที่ 1", value: 1 },
			{ name: "มัธยมศึกษาปีที่ 2", value: 2 },
			{ name: "มัธยมศึกษาปีที่ 3", value: 3 },
			{ name: "มัธยมศึกษาปีที่ 4", value: 4 },
			{ name: "มัธยมศึกษาปีที่ 5", value: 5 },
			{ name: "มัธยมศึกษาปีที่ 6", value: 6 },
		],

		form: {
			search: "",
			sortBy: "created_at",
			sortValue: "DESC",
		},
		headers: [
			{
				text: "หมายเลขใบสั่งซื้อ",
				align: "center",
				value: "id",
			},
			{ text: "ชื่อนักเรียน", align: "center", value: "user.fullname" },
			{ text: "มัธยมศึกษาปีที่", align: "center", value: "user.grade" },
			{ text: "ห้อง", align: "center", value: "user.class" },
			{ text: "เลขที่", align: "center", value: "user.class_number" },
			{ text: "การยืนยันสั่งซื้อ", align: "center", value: "confirmation_word" },
			{ text: "สถานะการชำระ", align: "center", value: "payment_word" },
			{ text: "ผู้ตรวจสอบการชำระ", align: "center", value: "validator.fullname" },
			{ text: "วันที่ออกใบสั่งซื้อ", align: "center", value: "issued_date" },
			{ text: "วันที่แก้ไข", align: "center", value: "updated_date" },
			{ text: "เครื่องมือ", align: "center", value: "actions", sortable: false },
		],
		invoices: [],
		desserts: [],
		editedIndex: -1,
		editedItem: null,
		defaultItem: {
			name: "",
			calories: 0,
			fat: 0,
			carbs: 0,
			protein: 0,
		},
		pagination: {
			length: 0,
			page: 1,
			limit: 5,
		},

		invoiceForm: null,
	}),

	computed: {
		formTitle() {
			return this.editedIndex === -1 ? "New Item" : "Edit Item";
		},
	},

	watch: {
		dialog(val) {
			val || this.close();
		},
		dialogDelete(val) {
			val || this.closeDelete();
		},
		options: {
			handler() {
				this.getInvoices();
			},
			deep: true,
		},
	},

	async mounted() {
		this.initialize();
		// console.log(this.$auth.user());
		// let user = await this.$auth.fetch();
		// console.log(user)
	},

	methods: {
		changeRowPerPage(val) {
			let app = this;
			app.pagination.limit = val;
			app.getInvoices();
		},
		changePage(page) {
			// console.log(page);
			let app = this;
			app.pagination.page = page;
			app.getInvoices();
		},
		getInvoices() {
			this.loading = true;
			let app = this;
			let ArrayFilterBy = ["user.grade", "user.class"];
			let ArrayFilterValue = [app.selectedGrade, app.selectedClass];
			axios.get(`/api/v1/invoices?limit=${this.pagination.limit}&page=${this.pagination.page}&search=${this.form.search}&filterBy=${ArrayFilterBy.join(",")}&filterValue=${ArrayFilterValue.join(",")}&sortBy=${this.form.sortBy}&sortValue=${this.form.sortValue}`).then((res) => {
				app.invoices = _.map(res.data.data, (item) => {
					item.dialog = false;
					return item;
				});
				app.pagination.length = res.data.total;
				app.loading = false;
			});
		},
		getInvoice(id) {
			let app = this;
			this.$swal({
				text: "กำลังโหลดข้อมูล",
				icon: "info",
			});
			this.$swal.showLoading();
			axios
				.get("/api/v1/invoices/" + id)
				.then((res) => {
					app.invoiceForm = res.data;
					let price = app.invoiceForm.total - Number(app.invoiceForm.user.discount?.value ?? 0);
					app.invoiceForm.last_price = price < 0 ? 0 : price;
					app.invoiceForm.dialog = true;

					app.$swal.close();
				})
				.catch((err) => {
					// console.log(err);
					app.$swal.close();
				});
		},
		initialize() {
			let app = this;
			app.getInvoices();
		},

		deleteItem(item) {
			this.editedIndex = this.invoices.indexOf(item);
			this.editedItem = Object.assign({}, item);
			// console.log(this.editedItem);
			this.dialogDelete = true;
		},

		deleteItemConfirm() {
			let app = this;
			axios
				.delete(`/api/v1/invoices/${this.editedItem._id}`)
				.then((res) => {
					app.closeDelete();
					app.invoices.splice(app.editedIndex, 1);
					app.$swal({
						title: "ลบสำเร็จ",
						icon: "success",
						toast: true,
						timer: 2000,
						showConfirmButton: false,
						timerProgressBar: true,
						position: "top-end",
					});
				})
				.catch((err) => console.log(err));
		},

		close() {
			this.invoiceForm.dialog = false;
			this.invoiceForm = null;
			this.getInvoices();
		},

		closeDelete() {
			this.dialogDelete = false;
			this.$nextTick(() => {
				this.editedItem = Object.assign({}, this.defaultItem);
				this.editedIndex = -1;
			});
		},

		save() {
			if (this.editedIndex > -1) {
				Object.assign(this.desserts[this.editedIndex], this.editedItem);
			} else {
				this.desserts.push(this.editedItem);
			}
			this.close();
		},

		getInvoiceToEdit() {
			let app = this;
			axios
				.get(`/api/v1/invoices/${this.editedItem._id}`)
				.then((res) => {
					app.invoices.splice(app.editedIndex, 1);
					app.$swal({
						title: "ลบสำเร็จ",
						icon: "success",
						toast: true,
						timer: 2000,
						showConfirmButton: false,
						timerProgressBar: true,
						position: "top-end",
					});
				})
				.catch((err) => console.log(err));
		},
		styleColor(item) {
			var index = this.invoices.indexOf(item);
			return index % 2 ? "blue lighten-5" : "";
		},
		onSortByChange(value) {
			let app = this;
			if (value) {
				app.form.sortBy = value;
			} else {
				app.form.sortBy = "";
			}
		},
		onSortDesChange(v) {
			let app = this;
			var result = v;
			if (Array.isArray(v)) {
				result = _.get(v, "[0]", undefined);
			}
			if (result === true) {
				app.form.sortValue = 1;
			} else if (result === false) {
				app.form.sortValue = -1;
			} else {
				app.form.sortValue = "";
			}
			app.getInvoices();
		},
	},
	computed: {
		bindClassRoomOption() {
			let app = this;
			let dropdownClass = [
				{ name: "ทั้งหมด", value: -1 },
				{ name: "ห้อง 1", value: 1 },
				{ name: "ห้อง 2", value: 2 },
				{ name: "ห้อง 3", value: 3 },
				{ name: "ห้อง 4", value: 4 },
				{ name: "ห้อง 5", value: 5 },
				{ name: "ห้อง 6", value: 6 },
				{ name: "ห้อง 7", value: 7 },
				{ name: "ห้อง 8", value: 8 },
				{ name: "ห้อง 9", value: 9 },
				{ name: "ห้อง 10", value: 10 },
				{ name: "ห้อง 11", value: 11 },
				{ name: "ห้อง 12", value: 12 },
				{ name: "ห้อง 13", value: 13 },
				{ name: "ห้อง 14", value: 14 },
			];
			if (app.selectedGrade > 0 && app.selectedGrade < 4) {
				return _.filter(dropdownClass, (v) => v.value < 13);
			} else {
				return dropdownClass;
			}
		},
	},
};
</script>

<style scope>
.header-search {
	padding-left: 16px;
	padding-right: 16px;
}
.v-list-item__title {
	font-size: 0.9125rem;
}
</style>
