<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rachineeburana School</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>images/logo/rn_logo.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,900">
  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Noto%20Sans%20Thai%20UI:100,200,300,400,500,600,700,900"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">


  <style>
    * {
      font-family: 'Kanit', 'Noto Sans Thai UI';
      font-weight: normal;
      font-style: normal;
    }
  </style>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>