<template>
	<v-container class="mb-15">
		<v-card width="full" height="full" v-if="$route.name == 'dashboard'">
			<v-list>
				<v-list-item v-for="(i, j) in listMenu" :key="j" link :to="{ name: i.linkName }">
					<v-list-item-title>{{ i.name }}</v-list-item-title>
				</v-list-item>
			</v-list>
		</v-card>
		<router-view v-else></router-view>
	</v-container>
</template>

<script>
export default {
	data() {
		return {
			currentUser: {},
			items: [
				{ name: "จัดการสินค้า", linkName: "products.index", role: ["teacher", "admin"] },
				{ name: "จัดการบัญชีผู้ใช้", linkName: "users.index", role: ["admin"] },
				{ name: "จัดการใบสั่งซื้อ", linkName: "invoices.index", role: ["teacher", "admin"] },
				{ name: "จัดการส่วนลด", linkName: "discounts.index", role: ["teacher", "admin"] },
				{ name: "ตั้งค่าบัญชีผู้ใช้", linkName: "Profile", role: ["student", "teacher", "admin"] },
			],
		};
	},
	computed: {
		listMenu() {
			return _.filter(this.items, (item) => this.$auth.check(item.role));
		},
	},
	async mounted() {
		var app = this;
	},
};
</script>

<style>
</style>