<template>
	<v-container fluid style="height: 90vh; weight: 100vh;">
		<v-layout fill-height class="d-flex justify-center align-center flex-column"> 
            <span class="text-h3 font-weight-bold">403</span> 
            <span>ไม่มีสิทธิ์เข้าถึงหน้าดังกล่าว</span>
            <v-btn class="mt-5" to="/" color="primary">กลับหน้าหลัก</v-btn>
        </v-layout>
	</v-container>
</template>

<style></style>
