<template>
	<v-container fill-height class="my-5">
		<v-row class="d-flex flex-column px-3">
			<span class="primary--text font-weight-bold">ตะกร้าสินค้า</span>
			<span class="grey--text text-caption">กดบันทึกเพื่อยืนยันการสั่งซื้อหรือแก้ไขสินค้าในตะกร้า</span>
			<v-divider class="mt-2"></v-divider>
		</v-row>
		<v-row class="d-flex justify-center">
			<v-col cols="12" md="4" v-for="item in cart" :key="item._id">
				<ProductCard :item="item" :status="'update'" @removeItem="removeItem" @updateItem="getCart" />
			</v-col>
		</v-row>
		<v-divider></v-divider>
		<v-container v-if="invoice_id == null" fluid fill-height class="d-flex flex-column justify-center aligh-center my-15">
			<v-icon size="50">mdi-cart-variant</v-icon>
			<span>ไม่พบสินค้าในตะร้า</span>
		</v-container>
		<v-divider></v-divider>
		<v-row dense v-if="invoice_id" class="mt-5">
			<v-col class="d-flex flex-column" cols="12">
				<div class="d-flex justify-space-between">
					<span>ราคารวมสินค้าทั้งหมด</span>
					<span>{{ total }} บาท</span>
				</div>
				<div class="d-flex justify-space-between">
					<span>ส่วนลดจากโรงเรียน</span>
					<span>{{ discount }} บาท</span>
				</div>
				<div class="d-flex justify-space-between">
					<span>จำนวนเงินที่ต้องชำระ</span>
					<span>{{ last_price }} บาท</span>
				</div>
			</v-col>
			<v-col cols="12">
				<v-checkbox label="ยอมรับการออกใบสั่งซื้อตามรายการที่คุณเลือก" v-model="confirmation"></v-checkbox>
			</v-col>
		</v-row>
		<v-container fluid class="d-flex justify-space-between" v-if="invoice_id">
			<v-btn @click="$router.go(-1)">กลับ</v-btn>
			<v-btn @click="createInvoice" color="primary" :disabled="confirmation === false">บันทึก</v-btn>
		</v-container>
	</v-container>
</template>

<script>
	import ProductCard from "../components/ProductCard.vue";
	export default {
		components: {
			ProductCard,
		},
		computed: {
			total() {
				return this.cart.reduce((sum, item, idx) => {
					sum += item.option.price * item.quantity;
					return sum;
				}, 0);
			},
			last_price() {
				let price = this.total - this.discount;
				return price < 0 ? 0 : price;
			},
		},
		data: () => ({
			cart: [],
			user: null,
			confirmation: false,
			invoice_id: null,
			discount: 0,
		}),
		// async beforeMount(){
		//     this.user = await this.$auth.fetch();
		// },
		mounted() {
			this.discount = this.$auth.user().discount;
			this.getCart();
		},
		methods: {
			getCart() {
				let app = this;
				axios.get("/api/v1/items").then((res) => {
					app.cart = _.map(res.data, item => {
						item.price = item.option.price;
						item.name = item.product.name;
						item.description = item.option.name;
						item.options = _.map(item.options , it => {
							it.name = `${it.name} ราคา ${it.price} บาท`
							return it;
						})
						return item;
					});
					if (app.cart.length > 0) {
						app.invoice_id = app.cart[0].invoice_id;
					} else {
						app.invoice_id = null;
					}
				});
			},
			removeItem(item) {
				let app = this;
				axios
					.delete(`/api/v1/items/${item._id}`)
					.then((res) => {
						app.$swal({
							title: "ลบสำเร็จ",
							icon: "success",
							toast: true,
							timer: 2000,
							showConfirmButton: false,
							timerProgressBar: true,
							position: "top-end",
							
						});
						app.getCart();
					})
					.catch((err) => {
						app.$swal("เกิดข้อผิดพลาด", "โปรดลองใหม่อีกครั้ง", "error");
					});
			},
			createInvoice() {
				let app = this;
				axios
					.put(`/api/v1/invoices/${this.invoice_id}`, { confirmation: this.confirmation })
					.then((res) => {
						app.$swal({
							title: "ออกใบสั่งซื้อสำเร็จ",
							icon: "success",
							toast: true,
							timer: 2000,
							showConfirmButton: false,
							timerProgressBar: true,
							position: "top-end",
							
						});
						// app.getCart();
						app.$router.push({ name: "invoices.student" });
					})
					.catch((err) => {
						app.$swal("เกิดข้อผิดพลาด", "โปรดลองใหม่อีกครั้ง", "error");
					});
			},
		},
	};
</script>

<style></style>
