<template>
	<div class="container-login">
		<div class="d-flex flex-column align-center">
			<v-img src="../assets/images/logo/webrn_logo.png" contain alt="logo" max-height="250"></v-img>
			<span class="font-weight-bold primary--text"> โรงเรียนราชินีบูรณะ จังหวัดนครปฐม </span>
			<span class="font-weight-light primary--text">Rachineeburana School</span>
			<v-form class="mt-2">
				<v-text-field label="รหัสผู้ใช้งาน" v-model="id" @keyup.enter="onLogin"></v-text-field>
				<v-text-field label="รหัสผ่าน" v-model="password" type="password" @keyup.enter="onLogin"></v-text-field>
				<v-container>
					<v-row>
						<v-btn class="mx-auto mb-3" width="150px" depressed color="primary" @click="onLogin"> เข้าสู่ระบบ </v-btn>
					</v-row>
					<v-row>
						<v-btn class="mx-auto" width="150px" text color="primary" to="/register"> สมัครสมาชิก </v-btn>
					</v-row>
				</v-container>
			</v-form>
		</div>
	</div>
</template>

<script>
import { isEmpty } from "lodash";
import { mapActions } from "vuex";
export default {
	data: () => ({
		id: "",
		password: "",
	}),
	mounted() {},
	methods: {
		...mapActions({
			login: "auth/login",
		}),
		onLogin() {
			var app = this;
			if (!isEmpty(this.id) && !isEmpty(this.password)) {
				let form = {
					id: this.id,
					password: this.password,
					rememberMe: true,
				};
				this.login(form)
					.then((res) => {
						// console.log("res", res);
					})
					.catch((err) => {
						// console.log("err", err);
						if (err.status == 401) {
							app.$swal("ผิดพลาด", "ไม่พบบัญชีผู้ใช้ กรุณาสมัครสมาชิก", "error");
						} else if (err.status == 500) {
							app.$swal("ผิดพลาด", "รหัสผ่านไม่ถูกต้อง กรุณาลองอีกครั้ง", "error");
						}
					});
				// this.$auth
				// 	.login({
				// 		data:form
				// 	})
				// 	.then((res) => {
				// 		console.log("res", res);
				// 	})
				// 	.catch((err) => {
				// 		console.log("err", err);
				// 	});
			}
		},
	},
};
</script>

<style>
.container-login {
	top: 0;
	bottom: 0;
	margin: 0px auto 0px auto;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 68px;
}
@media (min-width: 600px) {
	.container-login {
		max-width: 400px;
	}
}
@media (min-width: 960px) {
	.container-login {
		max-width: 500px;
	}
}
@media (min-width: 1264px) {
	.container-login {
		max-width: 600px;
	}
}
@media (min-width: 1400px) {
	.container-login {
		max-width: 700px;
	}
}
</style>
