<template>
	<v-container fluid style="height: 80vh; weight: 100vh">
		<v-layout fill-height class="d-flex justify-center align-center flex-column">
			<v-img contain :max-height="imageHeight" max-width="90vw" src="../assets/images/MA/3081783.jpg"></v-img>
			<span class="grey--text my-5" style="font-size: 10px">Designed by pikisuperstar / Freepik</span>
			<span class="font-weight-bold">ระบบกำลังปรับปรุง</span>
			<span>เราจะกลับมาให้บริการเร็วๆ นี้ </span>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	computed: {
		imageHeight() {
			switch (this.$vuetify.breakpoint.name) {
				case "xs":
					return "200px";
				case "sm":
					return "400px";
				case "md":
					return "600px";
				case "lg":
					return "600px";
				case "xl":
					return "600px";
			}
		},
	},
};
</script>

<style>
</style>