<template>
	<v-container fill-height class="my-5">
		<v-row class="d-flex flex-column px-3">
			<span class="primary--text font-weight-bold">ร้านค้า</span>
			<span class="grey--text text-caption">โปรดกรอกจำนวนและกดเพิ่มลงตะกร้าเพื่อเลือกสินค้าที่ต้องการ</span>
			<v-divider class="mt-2"></v-divider>
		</v-row>
		<v-row>
			<v-col cols="12" class="d-flex flex-row">
				<v-text-field filled outlined hide-details dense v-model="form.search" placeholder="ค้นหา..." clearable @keyup.enter="gerProducts"></v-text-field>
				<!-- <v-btn class="mx-2" color="primary" @click="getProducts">ค้นหา</v-btn> -->
			</v-col>
			<v-col>
				<!-- <v-select :items="filters" dense label="การเรียงลำดับ" hide-details></v-select> -->
				<span v-if="$auth.user().bought" class="red--text">* ไม่สามารถซื้อสินค้าได้เนื่องจากได้ยืนยัน<a @click="$router.push({ name: 'invoices.student' })">ใบสั่งซื้อ</a>เรียบร้อยแล้ว</span>
			</v-col>
		</v-row>
		<v-row>
			<v-col cols="12" md="4" v-for="item in filteredProduct" :key="item._id">
				<ProductCard :item="item" :disabled="$auth.user().bought" :status="'create'" />
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import ProductCard from "../components/ProductCard.vue";
export default {
	components: {
		ProductCard,
	},
	data: () => ({
		products: [],
		filters: [
			{ text: "วันที่สร้างล่าสุด", value: "DESC" },
			{ text: "ชื่อสินค้า", value: "ASC" },
		],
		form: {
			search: "",
		},
	}),
	beforeMount() {
		this.getProducts();
		this.$auth.load();
		this.$auth.ready();
	},
	computed: {
		filteredProduct() {
			let app = this;
			return _.filter(this.products, (item) => {
				return item.name.includes(app.form.search) || item.description.includes(app.form.search);
			});
		},
	},
	methods: {
		getProducts() {
			let app = this;
			axios.get(`/api/v1/products?limit=100000&search=${this.form.search}`).then((res) => {
				app.products = _.map(res.data.data, (item) => {
					item.description = item.description || "-";
					let min, max;
					min = 0;
					max = 0;
					min = _.minBy(item.options, "price");
					max = _.maxBy(item.options, "price");
					if (max == min) {
						item.price = max.price;
					} else {
						item.price = `${min.price} ถึง ${max.price}`;
					}
					item.options = _.map(item.options, (it) => {
						it.name = `${it.name} ราคา ${it.price} บาท`;
						return it;
					});
					return item;
				});
			});
		},
	},
};
</script>

<style>
.v-select__selection--comma {
	white-space: initial;
}
.v-list-item__title {
	white-space: initial;
	overflow: initial;
	text-overflow: unset;
}
</style>
