<template>
	<v-container fill-height class="my-5">
		<v-row class="d-flex flex-column px-3">
			<span class="primary--text font-weight-bold">ประวัติการสั่งซื้อ</span>
			<span class="grey--text text-caption">รายการประวัติการสั่งซื้อทั้งหมดของคุณ</span>
			<v-divider class="mt-2"></v-divider>
		</v-row>
		<v-row>
			<v-col cols="12" md="4" v-for="item in invoices" :key="item._id">
				<InvoiceCard :invoice="item" />
			</v-col>
		</v-row>

		<v-divider></v-divider>
		<v-container v-if="invoices.length == 0" fluid fill-height class="d-flex flex-column justify-center aligh-center my-15">
			<v-icon size="50">mdi-text-box-search-outline</v-icon>
			<span>ไม่พบประวัติการสั่งซื้อของคุณ</span>
		</v-container>
	</v-container>
</template>

<script>
	import InvoiceCard from "../components/InvoiceCard";
	export default {
		components: {
			InvoiceCard,
			discount: 0,
		},
		data: () => ({
			invoices: [],
		}),
		mounted() {
			this.discount = this.$auth.user().discount;
			this.getinvoices();
		},
		methods: {
			getinvoices() {
				let app = this;
				axios.get("/api/v1/invoices/student").then((res) => {
					app.invoices = _.map(res.data, (item) => {
						let price = item.total - app.discount;
						item.last_price = price < 0 ? 0 : price;
						return item;
					});
				});
			},
		},
	};
</script>

<style></style>
