<template>
	<div>
		<table id="download">
			<thead>
				<tr>
					<th colspan="6">โรงเรียนเอบีซ๊</th>
				</tr>
				<tr>
					<th>ชื่อ</th>
					<td colspan="2">นายกอ</td>
					<th>นามสกุล</th>
					<td colspan="2">ขอคองอ</td>
				</tr>
				<tr>
					<th>ชั้น</th>
					<td>ม. 1/1</td>
					<th>เลขที่</th>
					<td>2</td>
					<th>เบอร์โทรศัพท์</th>
					<td>0829561976</td>
				</tr>
				<tr>
					<th colspan="6" rowspan="2">ใบสั่งจองสินค้า ปีการศึกษา 2565</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>ลำดับ</th>
					<th>รายการ</th>
					<th>ราคา</th>
					<th>จำนวน</th>
					<th>รวมเป็นเงิน</th>
					<th>หมายเหตุ</th>
				</tr>
				<tr v-for="(item, idx) in products" :key="idx">
					<td>{{ idx + 1 }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.price }}</td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.price * item.quantity }}</td>
					<td>{{ item.note }}</td>
				</tr>
			</tbody>
		</table>
		<v-btn @click="download">download</v-btn>
	</div>
</template>

<script>
	import pdfMake from "pdfmake";
	import pdfFonts from "../assets/custom-font";
	export default {
		data: () => ({
			products: [
				{ name: "เสื้อ", price: 200, quantity: 2, note: "ปักชื่อ" },
				{ name: "กางเกง", price: 200, quantity: 2, note: "ตัดขา" },
				{ name: "ถุง", price: 50, quantity: 1, note: "ขาว" },
			],
		}),
		mounted() {},
		methods: {
			download() {
				pdfMake.vfs = pdfFonts.pdfMake.vfs; // 2. set vfs pdf font
				pdfMake.fonts = {
					// download default Roboto font from cdnjs.com
					Roboto: {
						normal: "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Regular.ttf",
						bold: "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Medium.ttf",
						italics: "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Italic.ttf",
						bolditalics: "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-MediumItalic.ttf",
					},
					// Kanit Font
					Sarabun: {
						// 3. set Kanit font
						normal: "Sarabun-Regular.ttf",
						bold: "Sarabun-Medium.ttf",
						italics: "Sarabun-Italic.ttf",
						bolditalics: "Sarabun-MediumItalic.ttf",
					},
				};
				const docDefinition = {
					content: [
						{ text: "โรงเรียนราชินีบูรณะ จังหวัดนครปฐม", fontSize: 18, alignment: "center", style: "text-h1", bold: true },
						"",
						{ text: "ใบสั่งซื้อสำหรับโรงเรียน", fontSize: 12, alignment: "center" },
						"",
						{
							style: "tableExample",
							color: "#444",
							pageBreak: "after",
							table: {
								widths: ["*", "*", "*", "*", "*", "*"],
								headerRows: 1,
								// keepWithHeaderRows: 1,
								body: [
									[{ text: "เลขที่ใบสั่งซื้อ", bold: true, style: "tableHeader", alignment: "center" }, { text: "2565-000001", colSpan: 2, style: "tableHeader", alignment: "center" }, {}, { text: "วันที่ออกใบ", bold: true, style: "tableHeader", alignment: "center" }, { text: "2022-01-29", colSpan: 2, style: "tableHeader", alignment: "center" }, {}],
									[{ text: "ชื่อ", bold: true, style: "tableHeader", alignment: "center" }, { text: "นาย กอขอ", colSpan: 2, style: "tableHeader", alignment: "center" }, {}, { text: "นามสกุล", bold: true, style: "tableHeader", alignment: "center" }, { text: "คองอจอ", colSpan: 2, style: "tableHeader", alignment: "center" }, {}],
									[
										{ text: "ชั้น", style: "tableHeader", alignment: "center" },
										{ text: "ม. 1/1", style: "tableHeader", alignment: "center" },
										{ text: "เลขที่", style: "tableHeader", alignment: "center" },
										{ text: "22", style: "tableHeader", alignment: "center" },
										{ text: "เบอร์โทรศัพท์", style: "tableHeader", alignment: "center" },
										{ text: "0806379036", style: "tableHeader", alignment: "center" },
									],
									// ["Sample value 1", "Sample value 2", "Sample value 3"],
									// [{ rowSpan: 3, text: "rowSpan set to 3\nLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor" }, "Sample value 2", "Sample value 3"],
									// ["", "Sample value 2", "Sample value 3"],
									// ["Sample value 1", "Sample value 2", "Sample value 3"],
									// ["Sample value 1", { colSpan: 2, rowSpan: 2, text: "Both:\nrowSpan and colSpan\ncan be defined at the same time" }, ""],
									// ["Sample value 1", "", ""],
								],
							},
						},
					],
					styles: {
						header: {
							fontSize: 18,
							bold: true,
							margin: [0, 0, 0, 10],
						},
						subheader: {
							fontSize: 16,
							bold: true,
							margin: [0, 10, 0, 5],
						},
						tableExample: {
							margin: [0, 5, 0, 15],
						},
						tableHeader: {
							bold: true,
							fontSize: 13,
							color: "black",
						},
					},
					defaultStyle: {
						// 4. default style 'KANIT' font to test
						font: "Sarabun",
					},
				};
				pdfMake.createPdf(docDefinition).open();
			},
		},
	};
</script>

<style scoped>
	td {
		border: solid 1px;
	}
	th {
		border: solid 1px;
	}
</style>
