<template>
	<v-container>
		<v-row dense>
			<v-col v-for="card in cards" :key="card.title" :cols="card.flex">
				<v-card :to="{ name: card.path }">
					<v-icon size="150px">
						{{ card.src }}
					</v-icon>
					<span class="text-center">{{ card.title }} </span>
				</v-card>
			</v-col>
		</v-row></v-container
	>
</template>

<script>
export default {
	data: () => ({
		cards: [
			{ title: "สำหรับโรงเรียน", src: "mdi-school-outline", flex: 12, path: "SumSchool" },
			{ title: "สำหรับร้านค้า", src: "mdi-store", flex: 12, path: "SumStore" },
		],
		data: [],
	}),
};
</script>

<style>
</style>