<template>
	<v-container class="mb-15">
		<v-card flat>
			<v-toolbar elevation="1">
				<v-toolbar-title>สรุปรายการสินค้าสำหรับโรงเรียน</v-toolbar-title>
			</v-toolbar>
			<v-row class="my-3 d-flex justify-center header-search">
				<!-- <v-col cols="12" lg="5"><v-text-field label="ค้นหา.." dense hide-details outlined filled @change="getInvoices" v-model="form.search"></v-text-field></v-col> -->
				<v-col cols="12" lg="2"><v-select :items="dropdownGrade" @change="getData" dense outlined item-value="value" item-text="name" label="ชั้นเรียน" v-model="selectedGrade"></v-select></v-col>
				<v-col cols="12" lg="2"><v-select :items="bindClassRoomOption" @change="getData" dense outlined item-value="value" item-text="name" label="ห้อง" v-model="selectedClass"></v-select></v-col>
			</v-row>
			<v-data-table dense :item-class="styleColor" :headers="headers" :items="data" class="elevation-1" hide-default-footer></v-data-table>
			<v-card-actions class="d-flex justify-space-between">
				<v-btn @click="$router.go(-1)" >กลับ</v-btn>
				<div class="d-flex flex-column">
					<v-btn color="blue darken-1" text @click="downloadProductSummary('โรงเรียน', data,selectedGrade,selectedClass)" v-if="$auth.check(['teacher', 'admin'])" :disabled="data.length == 0"> พิมพ์ใบสรุปจำนวนสินค้า </v-btn>
				</div>
			</v-card-actions>
		</v-card>
	</v-container>
</template>

<script>
import printer from "../mixins/printer"
export default {
	mixins : [printer],
	data: () => ({
		headers: [
			{ text: "ลำดับ", align: "center", value: "index", sortable: false },
			{
				text: "สินค้า",
				align: "left",
				value: "name",
				sortable: false,
			},
			{ text: "ตัวเลือก", align: "center", value: "option", sortable: false },
			{ text: "จำนวน", align: "center", value: "quantity", sortable: false },
			{ text: "ชิ้นละ", align: "center", value: "price", sortable: false },
			{ text: "รวม", align: "center", value: "total", sortable: false },
		],
		selectedGrade: -1,
		selectedClass: -1,
		dropdownRole: [
			{ name: "ทั้งหมด", value: -1 },
			{ name: "นักเรียน", value: 0 },
			{ name: "ครู", value: 1 },
			{ name: "ผู้ดูแล", value: 99 },
		],
		data: [],
		dropdownGrade: [
			{ name: "ทั้งหมด", value: -1 },
			{ name: "มัธยมศึกษาปีที่ 1", value: 1 },
			{ name: "มัธยมศึกษาปีที่ 2", value: 2 },
			{ name: "มัธยมศึกษาปีที่ 3", value: 3 },
			{ name: "มัธยมศึกษาปีที่ 4", value: 4 },
			{ name: "มัธยมศึกษาปีที่ 5", value: 5 },
			{ name: "มัธยมศึกษาปีที่ 6", value: 6 },
		],
	}),
	methods: {
		// getData() {
		// 	let app = this;
		// 	app.axios.get("/api/v1/invoices/summary").then((res) => {
		// 		if (res.status == 200) {
		// 			var tmp = _.find(res.data, { seller: "school" });
		// 			app.data = tmp.items;
		// 		}
		// 	});
		// },
		getData() {
			this.loading = true;
			let app = this;
			let ArrayFilterBy = ["grade", "class"];
			let ArrayFilterValue = [app.selectedGrade, app.selectedClass];
			axios.get(`/api/v1/invoices/summary?filterBy=${ArrayFilterBy.join(",")}&filterValue=${ArrayFilterValue.join(",")}`).then((res) => {
				if (res.status == 200) {
					var tmp = _.find(res.data, { seller: "school" });
					var total = 0;
					var amount = 0;
					if(!tmp) {
						app.data = [];
						return;
					}
					app.data = _.chain(tmp.items)
								.orderBy(['name'])
								.map((item,idx) => {
									total += item.price * item.quantity;
									amount += item.quantity;
									return { ...item, ...{ total: item.price * item.quantity, index : idx + 1 } };
								})
								.orderBy(['index'])
								.value()
					
					app.data.push({
						index : "-",
						name: "รวม",
						option: "-",
						price: "-",
						quantity: amount,
						total: total,
					});
				}
				app.loading = false;
			});
		},
		styleColor(item) {
			var index = this.data.indexOf(item);
			return index % 2 ? "blue lighten-5" : "";
		},
	},
	mounted() {
		this.getData();
	},
	computed: {
		bindClassRoomOption() {
			let app = this;
			let dropdownClass = [
				{ name: "ทั้งหมด", value: -1 },
				{ name: "ห้อง 1", value: 1 },
				{ name: "ห้อง 2", value: 2 },
				{ name: "ห้อง 3", value: 3 },
				{ name: "ห้อง 4", value: 4 },
				{ name: "ห้อง 5", value: 5 },
				{ name: "ห้อง 6", value: 6 },
				{ name: "ห้อง 7", value: 7 },
				{ name: "ห้อง 8", value: 8 },
				{ name: "ห้อง 9", value: 9 },
				{ name: "ห้อง 10", value: 10 },
				{ name: "ห้อง 11", value: 11 },
				{ name: "ห้อง 12", value: 12 },
				{ name: "ห้อง 13", value: 13 },
				{ name: "ห้อง 14", value: 14 },
			];
			if (app.selectedGrade > 0 && app.selectedGrade < 4) {
				return _.filter(dropdownClass, (v) => v.value < 13);
			} else {
				return dropdownClass;
			}
		},
	},
};
</script>

<style>
</style>