<template>
	<v-dialog v-model="dialog" max-width="1320px" fullscreen hide-overlay transition="dialog-top-transition">
		<v-card>
			<v-card-title class="d-felx justify-space-between">
				<span>รายละเอียดใบสั่งซื้อ</span>
				<span class="text-caption">เลขที่ {{ invoice.id }}</span>
			</v-card-title>
			<v-container>
				<span class="font-weight-meduim"> <span class="font-weight-bold">ชื่อ: </span> {{ user.firstname }} </span>

				<span class="font-weight-meduim"> <span class="font-weight-bold">นามสกุล:</span> {{ user.lastname }} </span><br />

				<span class="font-weight-meduim"> <span class="font-weight-bold">ชั้น: </span>ม. {{ user.grade }}/{{ user.class }} </span>

				<span class="font-weight-meduim"> <span class="font-weight-bold">เลขที่: </span>{{ user.class_number }} </span>

				<span class="font-weight-meduim"> <span class="font-weight-bold">เบอร์โทรศัพท์: </span> {{ user.phone_number }} </span>
			</v-container>

			<v-divider></v-divider>
			<v-card-text class="pa-0">
				<v-container>
					<v-simple-table>
						<template v-slot:default>
							<thead class="invoice-header">
								<tr>
									<th class="text-left px-1">ชื่อสินค้า</th>
									<th class="text-left px1">หมายเหตุ</th>
									<th class="text-center px-1">ราคา</th>
									<th class="text-center px-1">จำนวน</th>
									<th class="text-right px-1">รวมเป็นเงิน</th>
								</tr>
							</thead>
							<tbody class="invoice-body">
								<tr v-for="(product, i) in invoice.items" :key="i">
									<td class="px-1">{{ product.product.name }} ({{ product.option.name }})</td>
									<td class="px-1 text-center">{{ product.note ? product.note : "-" }}</td>
									<td class="px-1 red--text text-center">{{ displayPrice(product.option.price) }}</td>
									<td class="px-1 text-center">{{ product.quantity }}</td>
									<td class="text-right px-1">{{ displayPrice(product.quantity * product.option.price) }}</td>
								</tr>
								<tr>
									<td colspan="4" class="text-right sum-line px-1">ราคารวมสินค้าทั้งหมด</td>
									<td class="text-right sum-line px-1">{{ displayPrice(invoice.total) }}</td>
								</tr>
								<tr>
									<td colspan="4" class="text-right sum-line px-1">ส่วนลดจากโรงเรียน</td>
									<td class="text-right sum-line px-1">{{ displayPrice(discount) }}</td>
								</tr>
								<tr>
									<td colspan="4" class="text-right sum-line px-1">จำนวนเงินที่ต้องชำระ</td>
									<td class="text-right sum-line px-1">{{ displayPrice(invoice.last_price) }}</td>
								</tr>
							</tbody>
						</template>
					</v-simple-table>
				</v-container>
			</v-card-text>
			<v-divider></v-divider>
			<span class="font-weight-meduim ml-3" :class="isPaid ? 'green--text' : 'red--text'"> <span class="font-weight-bold">สถานะ : </span> {{ isPaid ? "ชำระแล้ว" : "รอการชำระ" }} </span>
			<v-card-actions>
				<validator-form v-if="$auth.check(['teacher', 'admin']) && !isPaid" @close="$emit('close')" :id="invoice._id"></validator-form>
			</v-card-actions>
			<v-card-actions>
				<div class="d-flex flex-column">
					<v-btn color="blue darken-1" text @click="download('โรงเรียน', invoice)" v-if="$auth.check(['teacher', 'admin'])"> พิมพ์สำหรับโรงเรียน </v-btn>
					<v-btn color="blue darken-1" text @click="download('นักเรียน', invoice)" v-if="$auth.check(['teacher', 'admin', 'student'])"> พิมพ์สำหรับนักเรียน </v-btn>
					<v-btn color="blue darken-1" text @click="download('ร้านค้า', invoice)" v-if="$auth.check(['teacher', 'admin'])"> พิมพ์สำหรับร้านค้า </v-btn>
				</div>

				<v-spacer></v-spacer>
				<v-btn color="blue darken-1" text @click="$emit('close')"> ปิด </v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import ValidatorForm from "./ValidatorForm.vue";
import printer from "../mixins/printer";
export default {
	mixins: [printer],
	components: { ValidatorForm },
	props: ["productList", "invoice", "dialog", "discount", "user", "isPaid"],
	mounted() {
		// console.log("invoice modal", this.invoice);
	},
	methods: {
		displayPrice(x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " ฿";
		},
	},
};
</script>

<style>
</style>