<template>
	<v-card class="mx-auto" max-width="344" outlined>
		<v-list-item three-line>
			<v-list-item-content>
				<div class="text-overline mb-4">เลขที่ใบสั่งซื้อ: {{ invoice.id }}</div>
				<v-list-item-title class="text-h5 mb-1">
					{{ displayPrice(invoice.last_price) }} บาท <span class="text-caption font-italic" v-if="discount != 0">(ส่วนลด {{ displayPrice(discount) }} บาท)</span></v-list-item-title
				>
				<v-list-item-subtitle class="text-caption">วันที่สั่งซื้อ {{ invoice.issued_date }}</v-list-item-subtitle>
			</v-list-item-content>
			<div class="d-flex flex-column justify-center">
				<v-list-item-avatar tile size="62"
					><v-icon size="65" :color="isPaid ? 'success' : 'error'">{{ isPaid ? "mdi-checkbox-marked-circle-outline" : "mdi-close-circle-outline" }}</v-icon></v-list-item-avatar
				>
				<span class="text-center">{{ isPaid ? "ชำระแล้ว" : "รอการชำระ" }}</span>
			</div>
			<!-- <v-list-item-action-text>จ่ายเงินแล้ว</v-list-item-action-text> -->
		</v-list-item>
		<v-card-actions>
			<v-btn color="primary" @click.stop="dialog = !dialog" text class="mb-2">รายละเอียด</v-btn>
		</v-card-actions>

		<invoice-modal v-if="!loading" :dialog="dialog" :invoice="invoice" :isPaid="isPaid" :productList="productList" @close="close" :discount="discount" :user="user" />
	</v-card>
</template>

<script>
import InvoiceModal from "./InvoiceModal.vue";
export default {
	components: { InvoiceModal },
	props: ["invoice"],
	mounted() {
		this.discount = this.$auth.user().discount;
		this.user = this.$auth.user();
		this.isPaid = this.invoice.payment;
		this.productList = this.invoice.products;
		this.loading = false;
	},
	data: () => ({
		isPaid: false,
		dialog: false,
		loading: true,
		discount: 0,
		user: null,
		productList: [
			{
				name: "ชื่อ",
				price: 100,
				amount: 1,
				netPrice: 100,
			},
			{
				name: "ชื่อ",
				price: 150,
				amount: 2,
				netPrice: 300,
			},
			{
				name: "ชื่อ",
				price: 300,
				amount: 3,
				netPrice: 900,
			},
			{
				name: "ชื่อ",
				price: 1000,
				amount: 1,
				netPrice: 1000,
			},
		],
	}),
	methods: {
		displayPrice(x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		},
		close() {
			var app = this;
			app.dialog = false;
		},
	},
};
</script>

<style>
.sum-line {
	border-bottom: 0 !important;
}
/* .invoice-header > tr > th {
	height: 38px !important;
	font-size: 0.75rem !important;
}

.invoice-body > tr > td {
	height: 38px !important;
	font-size: 0.8rem !important;
} */
</style>