<template>
	<v-container fluid :fill-height="$route.name == 'Login' || this.$route.name == 'Register' || this.$route.name == 'UMA'" class="pa-0">
		<v-app-bar class="navbar" fixed color="primary" dark v-if="currentRouteName">
			<div
				class="logo-navbar"
				@click="
					if ($route.name !== 'products') {
						$router.push({ name: 'products' });
					}
				"
			>
				<v-img src="../assets/images/logo/webrn_logo.png" contain alt="logo" height="50" max-width="50"></v-img>
				<v-toolbar-title><span class="font-weight-light">Rachineeburana School</span></v-toolbar-title>
			</div>
			<v-app-bar-nav-icon class="ml-auto" @click="drawer = true"></v-app-bar-nav-icon>
		</v-app-bar>

		<v-navigation-drawer right fixed v-model="drawer" temporary width="300" style="top: 0; right: 0">
			<v-list nav dense>
				<v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
					<v-list-item v-for="(i, j) in listMenuFilter" :key="j" :to="i.path === 'products' ? { path: '/' } : { name: i.path }">
						<v-list-item-icon>
							<v-icon>{{ i.icon }}</v-icon>
						</v-list-item-icon>
						<v-list-item-title>{{ i.text }}</v-list-item-title>
					</v-list-item>
				</v-list-item-group>
			</v-list>
			<template v-slot:append>
				<v-list-item class="mt-auto" @click="$auth.logout()" style="margin-top: auto !important">
					<v-list-item-icon>
						<v-icon color="red">mdi-logout</v-icon>
					</v-list-item-icon>
					<v-list-item-title class="red--text">ออกจากระบบ</v-list-item-title>
				</v-list-item>
			</template>
		</v-navigation-drawer>
		<slot></slot>
	</v-container>
</template>

<script>
export default {
	name: "Navbar",
	data: () => ({
		drawer: false,
		group: null,
		listMenu: [
			{
				path: "products",
				icon: "mdi-home",
				text: "หน้าแรก",
				role: ["student", "teacher", "admin"],
			},
			{
				path: "Profile",
				icon: "mdi-account",
				text: "บัญชีผู้ใช้",
				role: ["student", "teacher", "admin"],
			},
			{
				path: "ChangePassword",
				icon: "mdi-key",
				text: "เปลี่ยนรหัสผ่าน",
				role: ["student", "teacher", "admin"],
			},
			{
				path: "products.index",
				icon: "mdi-storefront-outline",
				text: "จัดการสินค้า",
				role: ["teacher", "admin"],
			},
			{
				path: "users.index",
				icon: "mdi-account-details",
				text: "จัดการบัญชีผู้ใช้",
				role: ["admin"],
			},
			{
				path: "invoices.index",
				icon: "mdi-receipt",
				text: "จัดการใบสั่งซื้อ",
				role: ["teacher", "admin"],
			},
			{
				path: "discounts.index",
				icon: "mdi-ticket-percent-outline",
				text: "จัดการส่วนลด",
				role: ["admin"],
			},
			{
				path: "SummaryDashboard",
				icon: "mdi-table",
				text: "ตารางสรุปสินค้า",
				role: ["admin", "teacher"],
			},
		],
	}),
	computed: {
		currentRouteName() {
			return this.$route.name !== "Login" && this.$route.name !== "Register" && this.$route.name !== "UMA";
		},
		listMenuFilter() {
			return _.filter(this.listMenu, (item) => this.$auth.check(item.role));
		},
	},
};
</script>

<style>
.v-image__image {
	filter: drop-shadow(0 0 0px #fff);
}
.logo-navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}
</style>
