<template>
	<v-card class="mx-auto my-1" max-width="1320" outlined elevation="7">
		<v-list-item three-line>
			<v-list-item-content>
				<div class="d-flex justify-space-between">
					<div class="text-overline mb-4 text-price" v-if="status == 'create'">{{ item.price }} บาท</div>
					<div class="text-overline mb-4 text-price" v-if="status == 'update'">{{ dialogPrice }} บาท</div>
					<!-- <div class="text-caption font-italic mb-4 red--text" v-if="form.quantity != form.origin">ยังไม่ได้บันทึก</div> -->
				</div>

				<v-list-item-title class="text-h5 mb-1">{{ item.name }} </v-list-item-title>
				<v-list-item-content class="text-body-2" v-if="status == 'create'">{{ item.description }}</v-list-item-content>
				<v-list-item-subtitle v-else>ตัวเลือก {{ item.description }}</v-list-item-subtitle>
			</v-list-item-content>
		</v-list-item>

		<div class="d-flex justify-end">
			<v-card-actions>
				<v-btn primary :disabled="disabled" color="primary" @click="disabled ? () => {} : (isOrder = true)"> {{ btnText }} </v-btn>
			</v-card-actions>
		</div>

		<v-dialog v-model="isOrder">
			<div class="d-block d-flex justify-end mb-4">
				<v-btn fab small absolute right color="red" @click="isOrder = false" class="white--text"><v-icon>mdi-window-close</v-icon></v-btn>
			</div>
			<v-container fluid fill-height class="pa-0">
				<v-card class="pa-6" width="100%">
					<v-card-title class="pa-0">{{ item.name }}</v-card-title>
					<v-row dense>
						<v-col cols="12" md="12">
							<span class="grey--text">จำนวนสินค้า</span>
							<div class="text-center my-2">
								<v-btn color="teal" outlined icon x-small @click="form.quantity > 0 ? form.quantity-- : false"><v-icon dark size="16px">mdi-minus</v-icon></v-btn>
								<v-btn text>
									<v-text-field :error="this.$v.form.quantity.$error" :error-messages="this.$v.form.quantity.$error ? errorMsgReqQuantity : ''" hide-spin-buttons class="centered-input" v-model.number="form.quantity" type="number" max="99" oninput="if(Number(this.value) > Number(this.max)) this.value = this.max;">{{ form.quantity }} </v-text-field>
								</v-btn>
								<v-btn color="teal" outlined icon x-small @click="form.quantity < 99 ? form.quantity++ : false"><v-icon dark size="16px">mdi-plus</v-icon></v-btn>
							</div>
						</v-col>
						<v-col cols="12">
							<v-autocomplete :error="this.$v.form.option_id.$error" :error-messages="this.$v.form.option_id.$error ? errorMsgReqOption : ''" label="ตัวเลือกสินค้า" :items="item.options" item-value="_id" v-model="form.option_id" item-text="name"></v-autocomplete>
						</v-col>
						<v-col cols="12">
							<v-textarea rows="5" label="รายละเอียดเพิ่มเติม" v-model="form.note"></v-textarea>
						</v-col>
						<v-col cols="12" class="d-flex justify-space-between my-2">
							<span class="font-weight-bold">รวมเป็นเงิน</span>
							<span class="font-weight-bold">{{ dialogPrice }}</span>
						</v-col>
						<v-col cols="12" class="d-flex justify-end">
							<v-btn primary color="primary" @click="addToCart" v-if="status == 'create'"> ยืนยัน </v-btn>
							<v-btn primary color="primary" @click="updateToCart" v-if="status == 'update'"> ยืนยัน </v-btn>
						</v-col>
					</v-row>
				</v-card>
			</v-container>
		</v-dialog>
	</v-card>
</template>
<script>
import { required, minValue } from "vuelidate/lib/validators";
export default {
	props: ["item", "status", "disabled"],
	data() {
		return {
			errorMsgReqOption: "โปรเลือกตัวเลือกที่ต้องการ",
			errorMsgReqQuantity: "โปรกรอกจำนวนที่ต้องการ",
			form: {
				quantity: 0,
				note: "",
				product_id: "",
				option_id: "",
				origin: 0,
			},
			isOrder: false,
			price: 0,
			productName: "Product Name",
			productDesc: "e.g. size s-2xl",
			count: 0,
			btnText: "เพิ่มลงตะกร้า",
		};
	},
	validations: {
		form: {
			option_id: { required },
			quantity: { required, minValue: minValue(1) },
		},
	},
	computed: {
		dialogPrice() {
			let option = _.find(this.item.options, { _id: this.form.option_id });
			if (!option) return 0;
			return option.price * this.form.quantity;
		},
	},
	mounted() {
		this.btnText = this.status == "create" ? this.btnText : "แก้ไข";
		if (this.status == "update") {
			this.form.quantity = this.item.quantity;
			this.form.note = this.item.note;
			this.form.product_id = this.item.product_id;
			this.form.option_id = this.item.option_id;
			this.form.origin = this.item.quantity;
		}
	},
	methods: {
		addToCart() {
			const app = this;
			// console.log(app.form);
			this.$v.$touch();
			this.submitted = true;
			var isCheck = !this.$v.$error;
			if (isCheck) {
				this.form.product_id = this.item._id;
				if (this.form.quantity === 0) {
					app.$swal("โปรดใส่จำนวนสินค้า", "", "warning");
					return;
				}
				if (!this.disabled) {
					axios
						.post("/api/v1/items", this.form)
						.then((res) => {
							app.form.quantity = 0;
							app.$swal({
								title: "เพิ่มลงตะกร้าสำเร็จ",
								icon: "success",
								toast: true,
								timer: 2000,
								showConfirmButton: false,
								timerProgressBar: true,
								position: "top-end",
							});
							app.isOrder = false;
						})
						.catch((err) => {
							app.isOrder = false;
							app.$swal("เกิดข้อผิดพลาด", "โปรดลองใหม่อีกครั้ง", "error");
						});
				}
			}
		},
		updateToCart() {
			let app = this;
			// this.$v.$touch();
			// this.submitted = true;
			// var isCheck = !this.$v.$error;
			// if (isCheck) {
			if (this.form.quantity === 0) {
				this.$emit("removeItem", this.item);
			} else {
				axios
					.put(`/api/v1/items/${this.item._id}`, this.form)
					.then((res) => {
						app.isOrder = false;
						app.form.origin = app.form.quantity;
						app.$emit("updateItem");
						app.$swal({
							title: "อัพเดทตะกร้าสำเร็จ",
							icon: "success",
							toast: true,
							timer: 2000,
							showConfirmButton: false,
							timerProgressBar: true,
							position: "top-end",
						});
					})
					.catch((err) => {
						app.isOrder = false;
						app.$swal("เกิดข้อผิดพลาด", "โปรดลองใหม่อีกครั้ง", "error");
					});
			}
			// }
		},
	},
};
</script>
<style scoped>
/* /deep/ .v-text-field {
		width: 12px;
	} */
.centered-input >>> input {
	text-align: center;
}
.text-body-2 {
	font-family: "Kanit", "Noto Sans Thai UI" !important;
	font-weight: normal;
	font-style: normal;
}
.text-h5,
.text-price {
	font-family: "Kanit", "Noto Sans Thai UI" !important;
}
</style>
