<template>
	<v-container fluid>
		<v-row>
			<v-col cols="12" md="12" class="pa-0">
				<v-checkbox v-model="paid" label="ทำเครื่องหมายว่าชำระครบถ้วนแล้ว" hide-details></v-checkbox>
			</v-col>
			<v-col cols="12" md="12" class="d-flex justify-end pa-0 mt-6">
				<v-btn color="primary" @click="savePayment" :disabled="!paid">ยืนยันการชำระ</v-btn>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
export default {
	props: ["id"],
	data: () => ({
		paid: false,
	}),
	methods: {
		savePayment() {
			let app = this;
			axios
				.put("/api/v1/invoices/" + this.id, { payment: this.paid })
				.then((res) => {
					app.$swal({
						title: "บันทึกสำเร็จ",
						icon: "success",
						toast: true,
						timer: 2000,
						showConfirmButton: false,
						timerProgressBar: true,
						position: "top-end",
					});
					app.$emit("close");
				})
				.catch((err) => console.log(err));
		},
	},
};
</script>

<style>
</style>