<template>
	<v-container class="mb-15">
		<v-card flat>
			<v-card-title> เพิ่มบัญชีผู้ใช้ </v-card-title>
			<v-card-subtitle>* จำเป็นต้องระบุ</v-card-subtitle>
			<v-form>
				<v-container>
					<v-row>
						<v-col cols="12" md="6">
							<v-text-field :error="this.$v.form.firstname.$error" :error-messages="this.$v.form.firstname.$error ? errorMsgReqFirstname : ''" v-model="form.firstname" label="ชื่อ*" required></v-text-field>
						</v-col>

						<v-col cols="12" md="6">
							<v-text-field :error="this.$v.form.lastname.$error" :error-messages="this.$v.form.lastname.$error ? errorMsgReqLastname : ''" v-model="form.lastname" label="นามสกุล*" required></v-text-field>
						</v-col>

						<v-col cols="12" md="4">
							<v-text-field :error="this.$v.form.phone_number.$error" :error-messages="this.$v.form.phone_number.$error ? errorMsgReqPnumber : ''" v-model="form.phone_number" label="เบอร์โทร*" required></v-text-field>
						</v-col>

						<v-col cols="12" md="4">
							<v-select :error="this.$v.form.role.$error" :error-messages="this.$v.form.role.$error ? errorMsgReqLastname : ''" v-model="form.role" label="บทบาท*" :items="dropdown.roles" required></v-select>
						</v-col>

						<v-col cols="12" md="4">
							<v-text-field :error="this.$v.form.id.$error" :error-messages="this.$v.form.id.$error ? errorMsgReqID : ''" v-model="form.id" :label="form.role === 0 ? 'รหัสประจำตัว*' : 'ชื่อบัญชี*'" required></v-text-field>
						</v-col>

						<v-col cols="12" md="6">
							<v-text-field :error="this.$v.form.password.$error" :error-messages="this.$v.form.password.$error ? errorMsgReqPassword : ''" v-model="form.password" label="รหัสผ่าน*" type="password" required></v-text-field>
						</v-col>

						<v-col cols="12" md="6">
							<v-text-field :error="$v.form.confirm_password.$error" :error-messages="$v.form.confirm_password.$error ? errorMsgReqconfirmPassword : ''" v-model="form.confirm_password" label="ยืนยันรหัสผ่าน*" type="password" required></v-text-field>
						</v-col>
						<v-col cols="12" md="4">
							<v-select :error="$v.form.grade.$error" :error-messages="$v.form.grade.$error ? errorMsgReqGrade : ''" v-model="form.grade" label="ชั้นปี*" :items="dropdown.dropdownGrade" required v-if="form.role === 0"></v-select>
						</v-col>
						<v-col cols="12" md="4">
							<v-select :error="$v.form.class.$error" :error-messages="$v.form.class.$error ? errorMsgReqCroom : ''" v-model="form.class" label="ห้อง*" :items="bindClassRoomOption" required v-if="form.role === 0"></v-select>
						</v-col>

						<v-col cols="12" md="4">
							<v-text-field :error="this.$v.form.class_number.$error" :error-messages="this.$v.form.class_number.$error ? errorMsgReqCnumber : ''" v-model="form.class_number" label="เลขที่*" required v-if="form.role === 0"></v-text-field>
						</v-col>
					</v-row>
				</v-container>
				<div class="d-flex justify-space-between">
					<v-btn @click="$router.go(-1)">กลับ</v-btn>
					<v-btn @click="createUser" color="primary">บันทึก</v-btn>
				</div>
			</v-form>
		</v-card>
	</v-container>
</template>

<script>
import { required, sameAs } from "vuelidate/lib/validators";
export default {
	data: () => ({
		errorMsgReqID: "โปรดกรอกรหัสประจำตัวนักเรียน",
		errorMsgReqPassword: "โปรดกรอกรหัสผ่าน",
		errorMsgReqconfirmPassword: "โปรดกรอกยืนยันรหัสผ่านให้ตรงกับรหัสผ่าน",

		errorMsgReqFirstname: "โปรดกรอกชื่อ",
		errorMsgReqLastname: "โปรดกรอกนามสกุล",

		errorMsgReqGrade: "โปรดกรอกระดับชั้น",
		errorMsgReqCroom: "โปรดกรอกเลขห้องเรียน",
		errorMsgReqCnumber: "โปรดกรอกเลขที่",
		errorMsgReqPnumber: "โปรดกรอกเบอร์ติดต่อ",
		dropdown: {
			dropdownGrade: [
				{ text: "เลือกชั้นปี", value: -1, disabled: true },
				{ text: "มัธยมศึกษาปีที่ 1", value: 1 },
				{ text: "มัธยมศึกษาปีที่ 2", value: 2 },
				{ text: "มัธยมศึกษาปีที่ 3", value: 3 },
				{ text: "มัธยมศึกษาปีที่ 4", value: 4 },
				{ text: "มัธยมศึกษาปีที่ 5", value: 5 },
				{ text: "มัธยมศึกษาปีที่ 6", value: 6 },
			],
			classes: [
				{ text: "เลือกห้อง", value: null, disabled: true },
				{ text: "1", value: 1 },
				{ text: "2", value: 2 },
				{ text: "3", value: 3 },
				{ text: "4", value: 4 },
				{ text: "5", value: 5 },
				{ text: "6", value: 6 },
			],
			roles: [
				{ text: "เลือกบทบาท", value: null, disabled: true },
				{ text: "นักเรียน", value: 0 },
				{ text: "ครู", value: 1 },
				{ text: "ผู้ดูแลระบบ", value: 99 },
			],
		},
		form: {
			firstname: null,
			lastname: null,
			id: null,
			phone_number: null,
			role: null,
			password: null,
			confirm_password: null,
			grade: null,
			class: null,
			class_number: null,
		},
		submitted: false,
	}),
	validations: {
		form: {
			id: { required },
			password: { required },
			confirm_password: { required, sameAsPassword: sameAs("password") },
			firstname: { required },
			lastname: { required },
			role: { required },
			grade: { required },
			class: { required },
			class_number: { required },
			phone_number: { required },
		},
	},
	computed: {
		bindClassRoomOption() {
			let app = this;
			let dropdownClass = [
				{ text: "เลือกห้อง", value: -1, disabled: true },
				{ text: "ห้อง 1", value: 1 },
				{ text: "ห้อง 2", value: 2 },
				{ text: "ห้อง 3", value: 3 },
				{ text: "ห้อง 4", value: 4 },
				{ text: "ห้อง 5", value: 5 },
				{ text: "ห้อง 6", value: 6 },
				{ text: "ห้อง 7", value: 7 },
				{ text: "ห้อง 8", value: 8 },
				{ text: "ห้อง 9", value: 9 },
				{ text: "ห้อง 10", value: 10 },
				{ text: "ห้อง 11", value: 11 },
				{ text: "ห้อง 12", value: 12 },
				{ text: "ห้อง 13", value: 13 },
				{ text: "ห้อง 14", value: 14 },
			];
			if (app.form.grade > 0 && app.form.grade < 4) {
				if (app.form.class > 12) {
					app.form.class = -1;
				}
				return _.filter(dropdownClass, (v) => v.value < 13);
			} else {
				return dropdownClass;
			}
		},
	},
	methods: {
		isCheck() {
			if (this.form.role !== 0) {
				return !(this.$v.form.id.$error || this.$v.form.password.$error || this.$v.form.confirm_password.$error || this.$v.form.firstname.$error || this.$v.form.lastname.$error || this.$v.form.role.$error || this.$v.form.phone_number.$error);
			} else {
				return !this.$v.$error;
			}
		},
		createUser() {
			this.$v.$touch();
			let app = this;
			if (this.isCheck()) {
				this.$swal({
					title: "โปรดยืนยันการบันทึกข้อมูล",
					reverseButtons: true,
					showCancelButton: true,
				}).then((result) => {
					if (result.isConfirmed) {
						axios
							.post("/api/v1/users", app.form)
							.then((res) => {
								app.$swal({
									title: "บันทึกสำเร็จ",
									icon: "success",
									toast: true,
									timer: 2000,
									showConfirmButton: false,
									timerProgressBar: true,
									position: "top-end",
									width: "70%",
								});
								app.$router.push({
									name: "users.index",
								});
							})
							.catch((err) => console.log(err));
					}
				});
			}
		},
	},
};
</script>

<style></style>
