<template>
	<v-container class="mb-15">
		<v-card flat>
			<v-data-table :headers="headers" :item-class="styleColor" :items="users" item-key="_id" sort-by="created_date" class="elevation-1" @update:items-per-page="changeRowPerPage" :items-per-page="pagination.limit" @update:page="changePage" :server-items-length="pagination.length" :loading="loading" @update:sort-by="onSortByChange" @update:sort-desc="onSortDesChange">
				<template v-slot:top>
					<v-toolbar flat>
						<v-toolbar-title class="text-wrap">ระบบบริหารจัดการบัญชีผู้ใช้</v-toolbar-title>
						<v-spacer></v-spacer>

						<v-dialog v-model="dialog" max-width="500px">
							<template v-slot:activator="{ attrs }">
								<v-btn color="primary" dark class="mb-2" v-bind="attrs" :to="{ name: 'users.create' }"><v-icon>mdi-plus</v-icon> เพิ่มบัญชีผู้ใช้ </v-btn>
							</template>
						</v-dialog>
					</v-toolbar>
					<v-row class="my-3 d-flex justify-center header-search">
						<v-col cols="12" lg="5"><v-text-field label="ค้นหา.." dense hide-details outlined filled @change="getUsers" v-model="form.search"></v-text-field></v-col>
						<v-col cols="12" lg="2"><v-autocomplete :items="dropdownRole" @change="getUsers" dense outlined item-value="value" item-text="name" label="บทบาท" v-model="selectedRole"></v-autocomplete></v-col>
						<v-col cols="12" lg="2"><v-autocomplete :items="dropdownGrade" @change="getUsers" dense outlined item-value="value" item-text="name" label="ชั้นเรียน" v-model="selectedGrade"></v-autocomplete></v-col>
						<v-col cols="12" lg="2"><v-autocomplete :items="bindClassRoomOption" @change="getUsers" dense outlined item-value="value" item-text="name" label="ห้อง" v-model="selectedClass"></v-autocomplete></v-col>
					</v-row>
				</template>
				<template v-slot:[`item.actions`]="{ item }">
					<v-btn :to="{ name: 'users.edit', params: { id: item._id } }" color="primary mr-2" small><v-icon small> mdi-pencil </v-icon></v-btn>
					<v-btn @click="deleteItem(item)" color="error" small><v-icon small> mdi-delete </v-icon></v-btn>
				</template>
			</v-data-table>
		</v-card>
		<v-dialog v-model="dialogDelete" max-width="500px">
			<v-card>
				<v-card-title class="text-h5">คุณต้องการลบบัญชีผู้ใช้นี้ใช่หรือไม่</v-card-title>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="blue darken-1" text @click="closeDelete">ไม่</v-btn>
					<v-btn color="blue darken-1" text @click="deleteItemConfirm">ใช่</v-btn>
					<v-spacer></v-spacer>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-container>
</template>

<script>
export default {
	data: () => ({
		loading: true,
		dialog: false,
		dialogDelete: false,
		selectedRole: -1,
		selectedGrade: -1,
		selectedClass: -1,
		dropdownRole: [
			{ name: "ทั้งหมด", value: -1 },
			{ name: "นักเรียน", value: 0 },
			{ name: "ครู", value: 1 },
			{ name: "ผู้ดูแล", value: 99 },
		],
		dropdownGrade: [
			{ name: "ทั้งหมด", value: -1 },
			{ name: "มัธยมศึกษาปีที่ 1", value: 1 },
			{ name: "มัธยมศึกษาปีที่ 2", value: 2 },
			{ name: "มัธยมศึกษาปีที่ 3", value: 3 },
			{ name: "มัธยมศึกษาปีที่ 4", value: 4 },
			{ name: "มัธยมศึกษาปีที่ 5", value: 5 },
			{ name: "มัธยมศึกษาปีที่ 6", value: 6 },
		],

		form: {
			search: "",
			sortBy: "created_at",
			sortValue: "DESC",
		},
		headers: [
			{
				text: "รหัสประจำตัว",
				align: "center",
				value: "id",
			},
			{ text: "ชื่อ", align: "center", value: "firstname" },
			{ text: "นามสกุล", align: "center", value: "lastname" },
			{ text: "มัธยมศึกษาปีที่", align: "center", value: "grade" },
			{ text: "ห้อง", align: "center", value: "class" },
			{ text: "เลขที่", align: "center", value: "class_number" },
			{ text: "บทบาท", align: "center", value: "role_name" },
			{ text: "เบอร์โทร", align: "center", value: "phone_number" },
			{ text: "ใบสั่งซื้อ", align: "center", value: "bought" },
			{ text: "วันที่สร้าง", align: "center", value: "created_date" },
			{ text: "วันที่แก้ไข", align: "center", value: "updated_date" },
			{ text: "เครื่องมือ", align: "center", value: "actions", sortable: false },
		],
		users: [],
		desserts: [],
		editedIndex: -1,
		editedItem: null,
		defaultItem: {
			name: "",
			calories: 0,
			fat: 0,
			carbs: 0,
			protein: 0,
		},
		pagination: {
			length: 0,
			page: 1,
			limit: 5,
		},
	}),

	computed: {
		formTitle() {
			return this.editedIndex === -1 ? "New Item" : "Edit Item";
		},
	},

	watch: {
		dialog(val) {
			val || this.close();
		},
		dialogDelete(val) {
			val || this.closeDelete();
		},
		options: {
			handler() {
				this.getUsers();
			},
			deep: true,
		},
	},

	async mounted() {
		this.initialize();
		// console.log(this.$auth.user());
		// let user = await this.$auth.fetch();
		// console.log(user)
	},

	methods: {
		changeRowPerPage(val) {
			let app = this;
			app.pagination.limit = val;
			app.getUsers();
		},
		changePage(page) {
			// console.log(page);
			let app = this;
			app.pagination.page = page;
			app.getUsers();
		},
		getUsers() {
			this.loading = true;
			let app = this;
			let ArrayFilterBy = ["role", "grade", "class"];
			let ArrayFilterValue = [app.selectedRole, app.selectedGrade, app.selectedClass];
			axios.get(`/api/v1/users?limit=${this.pagination.limit}&page=${this.pagination.page}&search=${this.form.search}&filterBy=${ArrayFilterBy.join(",")}&filterValue=${ArrayFilterValue.join(",")}&sortBy=${this.form.sortBy}&sortValue=${this.form.sortValue}`).then((res) => {
				app.users = res.data.data;
				app.pagination.length = res.data.total;
				app.loading = false;
			});
		},
		initialize() {
			let app = this;
			app.getUsers();
		},

		deleteItem(item) {
			this.editedIndex = this.users.indexOf(item);
			this.editedItem = Object.assign({}, item);
			// console.log(this.editedItem);
			this.dialogDelete = true;
		},

		deleteItemConfirm() {
			let app = this;
			axios
				.delete(`/api/v1/users/${this.editedItem._id}`)
				.then((res) => {
					app.closeDelete();
					app.users.splice(app.editedIndex, 1);
					app.$swal({
						title: "ลบสำเร็จ",
						icon: "success",
						toast: true,
						timer: 2000,
						showConfirmButton: false,
						timerProgressBar: true,
						position: "top-end",
					});
				})
				.catch((err) => console.log(err));
		},

		close() {
			this.dialog = false;
			this.$nextTick(() => {
				this.editedItem = Object.assign({}, this.defaultItem);
				this.editedIndex = -1;
			});
		},

		closeDelete() {
			this.dialogDelete = false;
			this.$nextTick(() => {
				this.editedItem = Object.assign({}, this.defaultItem);
				this.editedIndex = -1;
			});
		},

		save() {
			if (this.editedIndex > -1) {
				Object.assign(this.desserts[this.editedIndex], this.editedItem);
			} else {
				this.desserts.push(this.editedItem);
			}
			this.close();
		},
		styleColor(item) {
			var index = this.users.indexOf(item);
			return index % 2 ? "blue lighten-5" : "";
		},
		onSortByChange(value) {
			let app = this;
			if (value) {
				app.form.sortBy = value;
			} else {
				app.form.sortBy = "";
			}
		},
		onSortDesChange(v) {
			let app = this;
			var result = v;
			if (Array.isArray(v)) {
				result = _.get(v, "[0]", undefined);
			}
			if (result === true) {
				app.form.sortValue = 1;
			} else if (result === false) {
				app.form.sortValue = -1;
			} else {
				app.form.sortValue = "";
			}
			app.getUsers();
		},
	},
	computed: {
		bindClassRoomOption() {
			let app = this;
			let dropdownClass = [
				{ name: "ทั้งหมด", value: -1 },
				{ name: "ห้อง 1", value: 1 },
				{ name: "ห้อง 2", value: 2 },
				{ name: "ห้อง 3", value: 3 },
				{ name: "ห้อง 4", value: 4 },
				{ name: "ห้อง 5", value: 5 },
				{ name: "ห้อง 6", value: 6 },
				{ name: "ห้อง 7", value: 7 },
				{ name: "ห้อง 8", value: 8 },
				{ name: "ห้อง 9", value: 9 },
				{ name: "ห้อง 10", value: 10 },
				{ name: "ห้อง 11", value: 11 },
				{ name: "ห้อง 12", value: 12 },
				{ name: "ห้อง 13", value: 13 },
				{ name: "ห้อง 14", value: 14 },
			];
			if (app.selectedGrade > 0 && app.selectedGrade < 4) {
				return _.filter(dropdownClass, (v) => v.value < 13);
			} else {
				return dropdownClass;
			}
		},
	},
};
</script>

<style>
.header-search {
	padding-left: 16px;
	padding-right: 16px;
}
.v-list-item__title {
	font-size: 0.9125rem;
}
</style>
